version: "3.9"

services:
  consumer:
    build:
      context: .
      dockerfile: Dockerfile
    command: python leaderboard/leaderboard_consumer.py
    volumes:
      - .:/code
    environment:
      - REDIS_URL=redis://redis:6379
    restart: on-failure
    networks:
      - fekrooneh

networks:
  fekrooneh:
    external: true
